version: 2.1

orbs:
  orbtools: gofunky/orbtools@dev:0.0.16

master_filter: &master_filter
  filters:
    branches:
      only:
        - master

tag_filter: &tag_filter
  filters:
    tags:
      only: /.*/
    branches:
      ignore: /.*/

pr_filter: &pr_filter
  filters:
    branches:
      ignore:
        - master

workflows:
  publish:
    jobs:
      - orbtools/check:
          name: check_pull_request
          <<: *pr_filter

      - orbtools/env-pack-publish:
          name: publish_latest
          context: orb-tools
          version: "dev:${CIRCLE_BRANCH}"
          <<: *master_filter

      - envorb/git_tag:
          name: release_tag
          alpine_version: "3.8"
          variable: ORB_PUBLISHING_VERSION
          <<: *tag_filter

  #publish_release:
  #  jobs:
  #    - envorb/git_tag:
  #        name: release_tag
  #        <<: *tag_filter
  #        alpine_version: "3.8"
  #        variable: TAG_VERSION
  #    - dockerorb/build_test_push:
  #        name: build_release
  #        <<: *readmyhub_job
  #        <<: *tag_filter
  #        attach: true
  #        use_args: true
  #        args: "VERSION=${TAG_VERSION}"
  #        tags: "gofunky/readmyhub:stable,gofunky/readmyhub:${TAG_VERSION}"
  #        requires:
  #          - release_tag
  #    - dockerorb/build_test_push:
  #        name: build_git_release
  #        <<: *readmyhub_job
  #        <<: *tag_filter
  #        attach: true
  #        file: "Dockerfile.git"
  #        use_args: true
  #        args: "BASE_VERSION=${TAG_VERSION}"
  #        tags: "gofunky/readmyhub:stable-git,gofunky/readmyhub:${TAG_VERSION}-git"
  #        requires:
  #          - build_release
  #          - release_tag
